@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* header goes to TOP, Content to middle and footer to bottom*/
}
.header{
  display: flex;
  justify-content: space-between; /* puts space between the left/right UL/LI elements in header*/

}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.footer{
  display: flex;
  justify-content: space-between; /* puts space between the left/right UL/LI elements in footer*/
  background-color: rgb(238, 238, 238);
}
.right-links {
  padding-right: 8px;
}
.left-links {
  padding-left: 8px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: rgb(238, 238, 238);
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
ul, 
li{
  list-style-type: none;
  display: inline;
}
a{
  color: grey;
  text-decoration: none;
  padding: 4px;
}