body { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.header { /* Done*/
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.footer { /* Done*/
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: space-around; /* centers the text and   spreads the background/padding across the footer*/

}
.middle {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex: 1 0 auto;
}
.sidebar { /* Done */
  width: 300px;
  background: royalblue;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto; /*no growing or shrinking*/
  padding: 16px;
}
.card_section {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding: 48px;
  gap: 32px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  height: auto; /* height had to be set auto. Now the heigth will change to match the available space*/
  display: flex;
  flex: 0 1 auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: start;
}
ul { /* Done */
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
li { /* Done */
  padding-bottom: 16px;
}
a { /* Done */
  font-size: 24px;
  color: white;
  text-decoration: none;
}